In [2]:
import requests
import json

url = "https://sportscore1.p.rapidapi.com/tennis-rankings/atp"

querystring = {"page":"1"}

headers = {
    'x-rapidapi-host': "sportscore1.p.rapidapi.com",
    'x-rapidapi-key': "811228ff06msh50e3dfe9f8a5ecfp1e975ejsn6b992dbfd77b"
    }

response = requests.request("GET", url, headers=headers, params=querystring)
json_data = json.loads(response.text)

In [8]:
import pandas as pd
len(json_data['data'])

players = pd.DataFrame.from_dict(json_data['data'])

In [9]:
players

,id,type,points,ranking,tournaments,official_updated_at,team
0,1468,ATP,11540,1,14,2021-12-21,"{'id': 17488, 'sport_id': 2, 'category_id': No..."
1,1451,ATP,8640,2,23,2021-12-21,"{'id': 16162, 'sport_id': 2, 'category_id': No..."
2,1465,ATP,7840,3,23,2021-12-21,"{'id': 17479, 'sport_id': 2, 'category_id': No..."
3,1455,ATP,6540,4,26,2021-12-21,"{'id': 13989, 'sport_id': 2, 'category_id': No..."
4,1358,ATP,5150,5,28,2021-12-21,"{'id': 16142, 'sport_id': 2, 'category_id': No..."
...,...,...,...,...,...,...,...
95,20,ATP,773,96,34,2021-12-21,"{'id': 12965, 'sport_id': 2, 'category_id': No..."
96,905,ATP,770,97,30,2021-12-21,"{'id': 13377, 'sport_id': 2, 'category_id': No..."
97,702,ATP,765,98,35,2021-12-21,"{'id': 12971, 'sport_id': 2, 'category_id': No..."
98,909,ATP,762,99,37,2021-12-29,"{'id': 13935, 'sport_id': 2, 'category_id': No..."
99,968,ATP,759,100,36,2021-12-21,"{'id': 13310, 'sport_id': 2, 'category_id': No..."

In [23]:
# Player Name
json_data['data'][0]['team']['name_full']

'Djokovic, Novak'

In [26]:
# Player Rank
json_data['data'][0]['ranking']

1

In [27]:
# Player ID
json_data['data'][0]['team']['id']

17488

In [28]:
# Player Points
json_data['data'][0]['points']

11540

In [33]:
# Player Tour
json_data['data'][0]['type']

'ATP'

In [36]:
# Ranking Date
json_data['data'][0]['official_updated_at']

'2021-12-21'

In [1]:
json_data

NameError: name 'json_data' is not defined

In [41]:
import mysql.connector

In [43]:
ENDPOINT = os.getenv('ENDPOINT')
PORT = os.getenv('PORT')
USER = os.getenv('USER')
REGION = os.getenv('REGION')
DBNAME = os.getenv('DBNAME')
PASSWD = os.getenv('PASSWD')

try:
    conn =  mysql.connector.connect(host=ENDPOINT, user=USER, passwd=PASSWD, port=PORT, database=DBNAME)
    cur = conn.cursor()
    cur.execute("""SELECT now()""")
    query_results = cur.fetchall()
    print(query_results)
except Exception as e:
    print("Database connection failed due to {}".format(e))

[(datetime.datetime(2021, 12, 29, 9, 10, 23),)]

In [36]:
conn = mysql.connector.connect(host=ENDPOINT, user=USER, passwd=PASSWORD, database=DBNAME, port=PORT)
cur = conn.cursor()
cur.execute("""SELECT now()""")    
query_results = cur.fetchall()
print(query_results)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'121.211.91.169' (using password: NO)

In [39]:
print(PASSWD)

None

In [1]:
import json
import os
import sys

import numpy as np

# import mysql.connector
import pandas as pd
import requests
from sqlalchemy import create_engine

from sql import execute_query

urls = [
    "https://sportscore1.p.rapidapi.com/tennis-rankings/atp",
    "https://sportscore1.p.rapidapi.com/tennis-rankings/wta",
]
headers = {
    "x-rapidapi-host": "sportscore1.p.rapidapi.com",
    "x-rapidapi-key": "811228ff06msh50e3dfe9f8a5ecfp1e975ejsn6b992dbfd77b",
}

players = pd.DataFrame()

In [16]:
def get_data(url):
    response = requests.request("GET", url, headers=headers)
    json_data = json.loads(response.text)
    ranking,player_id,player_first_name,player_last_name,points,tour,ranking_date =[[] for i in range(7)]

    for rank in json_data["data"]:
        ranking.append(rank["ranking"])
        player_id.append(rank["team"]["id"])
        player_first_name.append(rank["team"]["name_full"].split(", ")[1])
        player_last_name.append(rank["team"]["name_full"].split(", ")[0])
        points.append(rank["points"])
        tour.append(rank["type"])
        ranking_date.append(rank["official_updated_at"])

    ranking 
    
    df = pd.DataFrame(
            np.column_stack([
                ranking,
                player_id,
                player_first_name,
                player_last_name,
                points,
                tour,
                ranking_date,
            ])
        )
    df.head()
    return df

In [17]:
get_data(urls[1])

      0      1         2           3     4    5           6
0     1  11570  Ashleigh       Barty  7582  WTA  2021-12-30
1     2  11583     Aryna   Sabalenka  6380  WTA  2021-12-30
2     3  11566   Garbiñe    Muguruza  5685  WTA  2021-12-30
3     4  11552  Karolína    Plíšková  5135  WTA  2021-12-30
4     5  12661   Barbora  Krejčíková  5008  WTA  2021-12-30
..  ...    ...       ...         ...   ...  ...         ...
95   96  11959     Danka     Kovinić   808  WTA  2022-01-03
96   97  12352  Kristína      Kučová   807  WTA  2022-01-03
97   98  12342     Astra      Sharma   806  WTA  2022-01-03
98   99  12585    Dayana  Yastremska   789  WTA  2021-12-30
99  100  12267      Kaja       Juvan   788  WTA  2021-12-30

[100 rows x 7 columns]

In [18]:


players.head()
players.to_csv("test.csv", index=False)

ENDPOINT = os.getenv("ENDPOINT")
PORT = os.getenv("PORT")
USER = os.getenv("USER")
REGION = os.getenv("REGION")
DBNAME = os.getenv("DBNAME")
PASSWD = os.getenv("PASSWD")

# engine = create_engine(f"mysql+mysqlconnector://{USER}:{PASSWD}@{ENDPOINT}/{DBNAME}")
# players.to_sql(con=engine, name="ranking", if_exists="append", index=False)

In [30]:
df1 = get_data(urls[0])
df2 = get_data(urls[1])

In [36]:
players = players.append(df1)

In [37]:
players

      0      1          2           3      4    5           6
0     1  17488      Novak    Djokovic  11540  ATP  2021-12-21
1     2  16162     Daniil    Medvedev   8640  ATP  2021-12-21
2     3  17479  Alexander      Zverev   7840  ATP  2021-12-21
3     4  13989   Stefanos   Tsitsipas   6540  ATP  2021-12-21
4     5  16142     Andrey      Rublev   5150  ATP  2021-12-21
..  ...    ...        ...         ...    ...  ...         ...
95   96  12965     Tennys    Sandgren    773  ATP  2021-12-21
96   97  13377      Pablo      Cuevas    770  ATP  2021-12-21
97   98  12971      Henri   Laaksonen    765  ATP  2021-12-21
98   99  13935  Sebastián        Baez    762  ATP  2021-12-29
99  100  13310      Marco  Cecchinato    759  ATP  2021-12-21

[100 rows x 7 columns]

In [1]:
import json
import os
from datetime import datetime

import numpy as np
import pandas as pd
import requests
from numpy.lib.shape_base import column_stack
from sqlalchemy import create_engine

# API endpoint - players by sport ID (Tennis)
url = "https://sportscore1.p.rapidapi.com/sports/2/teams"
headers = {
    "x-rapidapi-host": "sportscore1.p.rapidapi.com",
    "x-rapidapi-key": "811228ff06msh50e3dfe9f8a5ecfp1e975ejsn6b992dbfd77b",
}
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)

In [25]:
for player in data['data']:
    if player['details']['date_of_birth'] isinstance(NoneType):
        print(NoneType)

SyntaxError: invalid syntax (845729203.py, line 2)